<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Account Settings - Evernet</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/select2/select2.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script type="text/javascript">
        if (!localStorage.getItem("adminToken")) {
            window.location = "/admin"
        }
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">evernet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admins">Admins</a>
                </li>
            </ul>
            <div class="d-flex justify-content-end">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="/admin/account">Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" style="margin-top: 5rem;">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3>Account Settings</h3>
                    <hr>
                    <form>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" id="identifier" placeholder="Identifier" disabled>
                            <label for="identifier" class="form-label">Identifier</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 3rem;">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3>Change Password</h3>
                    <hr>
                    <div id="message"></div>
                    <form>
                        <div class="mb-3 form-floating">
                            <input type="password" class="form-control" id="new-password" placeholder="New Password">
                            <label for="new-password" class="form-label">New Password</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="password" class="form-control" id="confirm-password"
                                   placeholder="Confirm Password">
                            <label for="confirm-password" class="form-label">Confirm Password</label>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" id="change-password-btn">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/jquery/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/handlebars/handlebars.min-v4.7.8.js"></script>
<script type="text/javascript" src="/static/select2/select2.full.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        getCurrentAdmin(function (data) {
            $("#identifier").val(data.identifier);
        })

        $("#change-password-btn").click(function (e) {
            e.preventDefault();

            let newPassword = $("#new-password").val().trim();
            let confirmNewPassword = $("#confirm-password").val().trim();

            if (newPassword === "") {
                displayError($("#message"), "New password cannot be empty")
                return
            }

            if (newPassword !== confirmNewPassword) {
                displayError($("#message"), "Passwords do not match")
                return
            }

            changeCurrentAdminPassword(newPassword, function (data) {
                displaySuccess($("#message"), "Password changed successfully")
            }, function (data) {
                displayError($("#message"), data.responseJSON.message)
            })
        })
    })
</script>
</body>
</html>