<!doctype html>
<html lang="en">
{% include 'admin-header.html' %}
<body>
{% include 'admin-navbar.html' %}
<div class="container">
    <div class="row" style="margin-top: 3rem;">
        <div class="col-lg-6 offset-lg-3">
            <h2 id="identifier">{{identifier}}</h2>
            <hr>
            <h4 style="margin-top: 4rem;">Password Management</h4>
            <hr>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reset-password-modal">Reset Password</button>
            <h4 style="margin-top: 4rem;">Danger Zone</h4>
            <hr>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-admin-modal">Delete Admin</button>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-admin-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Admin {{identifier}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="delete-admin-message"></div>
                <p>Are you sure you want to delete admin account for {{identifier}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delete-admin-btn">Delete Admin</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reset-password-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password for {{identifier}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="reset-password-message"></div>
                <p>Are you sure you want to reset the password for admin account {{identifier}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="reset-password-btn">Reset Password</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% include 'admin-footer.html' %}
<script type="text/javascript">
    const identifier = "{{identifier}}"

    $(document).ready(function () {
        $("#delete-admin-btn").click(function (e) {
            e.preventDefault();
            deleteAdmin(identifier, function (data) {
                window.location = "/admins"
            }, function (data) {
                displayError($("#delete-admin-message"), data.responseJSON.message)
            })
        })

        $("#reset-password-btn").click(function (e) {
            e.preventDefault();
            resetAdminPassword(identifier, function (data) {
                displaySuccess($("#reset-password-message"), `Password reset successfully, new password is <pre>${escapeHTML(data.password)}</pre>`)
            }, function (data) {
                displayError($("#reset-password-message"), data.responseJSON.message)
            })
        })
    })
</script>
</body>
</html>