<!doctype html>
<html lang="en">
{% include 'admin-header.html' %}
<body>
{% include 'admin-navbar.html' %}
<div class="container">
    <div class="row" style="margin-top: 3rem;">
        <div class="col-lg-6 offset-lg-3">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Admins</h2>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#add-admin-modal">
                        Add Admin
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Identifier</th>
                            <th>Manage</th>
                        </tr>
                        </thead>
                        <tbody id="admins"></tbody>
                    </table>
                    <button class="btn btn-outline-secondary w-100" id="load-more-btn">Load More Admins</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-admin-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Admin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="message"></div>
                <form>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="identifier" placeholder="Identifier">
                        <label for="identifier" class="form-label">Identifier</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-admin-btn">Add Admin</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% raw %}
<script type="text/x-handlebars-template" id="admins-template">
    {{#each admins}}
        <tr>
            <td>{{identifier}}</td>
            <td>
                <a class="btn btn-sm btn-secondary" href="/admins/{{identifier}}">Manage</a>
            </td>
        </tr>
    {{/each}}
</script>
{% endraw %}

{% include 'admin-footer.html' %}
<script type="text/javascript">
    const adminsTemplate = Handlebars.compile($("#admins-template").html())

    function renderAdmins(page, size) {
        listAdmins(page, size, function (data) {
            $("#admins").append(adminsTemplate({admins: data}));
            if (data.length < size) {
                $("#load-more-btn").hide()
            }
        });
    }

    $(document).ready(function () {
        let currentPage = 0;
        let pageSize = 50
        renderAdmins(currentPage, pageSize)
        $("#load-more-btn").click(function (e) {
            e.preventDefault();
            currentPage = currentPage + 1;
            renderAdmins(currentPage, pageSize)
        })

        $("#add-admin-btn").click(function (e) {
            e.preventDefault()

            let identifier = $("#identifier").val().trim()

            if (identifier === "") {
                displayError($("#message"), "Identifier is required")
                return
            }

            addAdmin(identifier, function (data) {
                displaySuccess($("#message"), `Admin added successfully, password is <pre>${escapeHTML(data.password)}</pre>`)
                $("#admins").prepend(adminsTemplate({
                    admins: [{
                        identifier: identifier,
                    }]
                }))
            }, function (data) {
                displayError($("#message"), data.responseJSON.message)
            })
        })
    })
</script>
</body>
</html>