<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Initialize - Evernet</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/select2/select2.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script type="text/javascript">
        if (localStorage.getItem("adminToken")) {
            window.location = "/admin/home"
        }
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">evernet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs">Docs</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn btn-secondary my-2 my-sm-0" href="/login">Login</a>
                <a class="btn btn-danger my-2 my-sm-0" style="margin-left: 0.5rem" href="/join">Sign Up</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" style="margin-top: 5rem;">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3>Initialize Evernet</h3>
                    <hr>
                    <div id="message"></div>
                    <form>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" placeholder="Admin Identifier" id="identifier">
                            <label for="identifier" class="form-label">Admin Identifier</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="password" class="form-control" placeholder="Admin Password" id="password">
                            <label for="password" class="form-label">Admin Password</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" placeholder="Evernet Endpoint" id="vertex-endpoint">
                            <label for="vertex-endpoint" class="form-label">Evernet Endpoint</label>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary w-100" id="init-btn">Initialize</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/jquery/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/handlebars/handlebars.min-v4.7.8.js"></script>
<script type="text/javascript" src="/static/select2/select2.full.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        isInitialized(function (data) {
            if (data.initialized) {
                window.location = "/admin"
            }

        }, function (data) {
            window.location = "/"
        })

        $("#init-btn").click(function (e) {
            e.preventDefault()

            let identifier = $("#identifier").val().trim()
            let password = $("#password").val().trim()
            let vertexEndpoint = $("#vertex-endpoint").val().trim()

            if (identifier === "") {
                displayError($("#message"), "Identifier is required")
                return
            }

            if (password === "") {
                displayError($("#message"), "Password is required")
                return
            }

            if (vertexEndpoint === "") {
                displayError($("#message"), "Endpoint is required")
                return
            }

            initAdmin(identifier, password, vertexEndpoint, function (data) {
                displaySuccess($("#message"), "Evernet initialized successfully, please <a href='/admin'>log in</a> to continue")
            }, function (data) {
                displayError($("#message"), data.responseJSON.message)
            })
        })
    })
</script>
</body>
</html>