<!doctype html>
<html lang="en">
{% include 'admin-header.html' %}
<body>
{% include 'admin-navbar.html' %}
<div class="container">
    <div class="row" style="margin-top: 3rem;">
        <div class="col-lg-8 offset-lg-2">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Actors in Node {{ node_identifier }}</h2>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#add-actor-modal">
                        Add Actor
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Identifier</th>
                            <th>Display Name</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="actors"></tbody>
                    </table>
                    <button class="btn btn-outline-secondary w-100" id="load-more-btn">Load More Actors</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-actor-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Actor To Node {{ node_identifier }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="message"></div>
                <form>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="identifier" placeholder="Identifier">
                        <label for="identifier" class="form-label">Identifier</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="display-name" placeholder="Display Name">
                        <label for="display-name" class="form-label">Display Name</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="type" placeholder="Actor Type">
                        <label for="type" class="form-label">Actor Type</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <textarea class="form-control" rows="3" id="description" placeholder="Description"
                                  style="height: 100px;"></textarea>
                        <label for="description" class="form-label">Description</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-actor-btn">Add Actor</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% raw %}
<script type="text/x-handlebars-template" id="actors-template">
    {{#each actors}}
        <tr>
            <td>{{identifier}}</td>
            <td>{{display_name}}</td>
            <td><span class="badge bg-info">{{type}}</span></td>
            <td>
                <a href="/admin/nodes/{{node_identifier}}/actors/{{identifier}}" class="btn btn-sm btn-secondary">Manage</a>
            </td>
        </tr>
    {{/each}}
</script>
{% endraw %}
{% include 'admin-footer.html' %}
<script type="text/javascript">
    const nodeIdentifier = "{{ node_identifier }}"
    const actorsTemplate = Handlebars.compile($("#actors-template").html())

    function renderActors(page, size) {
        listActors(nodeIdentifier, page, size, function (data) {
            $("#actors").append(actorsTemplate({actors: data}));
            if (data.length < size) {
                $("#load-more-btn").hide()
            }
        })
    }

    $(document).ready(function () {
        let currentPage = 0
        let pageSize = 50
        renderActors(currentPage, pageSize)
        $("#load-more-btn").click(function (e) {
            e.preventDefault()
            currentPage = currentPage + 1
            renderActors(currentPage, pageSize)
        })

        $("#add-actor-btn").click(function (e) {
            e.preventDefault();
            let identifier = $("#identifier").val().trim();
            let displayName = $("#display-name").val().trim();
            let type = $("#type").val().trim();
            let description = $("#description").val().trim();

            if (identifier === "") {
                displayError($("#message"), "Identifier is required")
                return
            }

            if (displayName === "") {
                displayError($("#message"), "Display name is required")
                return
            }

            if (type === "") {
                displayError($("#message"), "Actor type is required")
            }

            addActor(nodeIdentifier, identifier, displayName, description, type, function (data) {
                displaySuccess($("#message"), `Actor added successfully, password is <pre>${escapeHTML(data.password)}</pre>`)
                $("#actors").prepend(actorsTemplate({
                    actors: [{
                        identifier: identifier,
                        display_name: displayName,
                        type: type,
                        node_identifier: nodeIdentifier
                    }]
                }))
            }, function (data) {
                displayError($("#message"), data.responseJSON.message)
            })
        })
    })
</script>
</body>
</html>