<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage Admin {{identifier}} - Evernet</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/select2/select2.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script type="text/javascript">
        if (!localStorage.getItem("adminToken")) {
            window.location = "/admin"
        }
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">evernet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admins">Admins</a>
                </li>
            </ul>
            <div class="d-flex justify-content-end">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="/admin/account">Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" style="margin-top: 3rem;">
        <div class="col-lg-6 offset-lg-3">
            <h2 id="identifier">{{identifier}}</h2>
            <hr>
            <h4 style="margin-top: 4rem;">Password Management</h4>
            <hr>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reset-password-modal">Reset Password</button>
            <h4 style="margin-top: 4rem;">Danger Zone</h4>
            <hr>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-admin-modal">Delete Admin</button>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-admin-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Admin {{identifier}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="delete-admin-message"></div>
                <p>Are you sure you want to delete admin account for {{identifier}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delete-admin-btn">Delete Admin</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reset-password-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password for {{identifier}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="reset-password-message"></div>
                <p>Are you sure you want to reset the password for admin account {{identifier}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="reset-password-btn">Reset Password</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/jquery/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/handlebars/handlebars.min-v4.7.8.js"></script>
<script type="text/javascript" src="/static/select2/select2.full.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript">
    const identifier = "{{identifier}}"

    $(document).ready(function () {
        $("#delete-admin-btn").click(function (e) {
            e.preventDefault();
            deleteAdmin(identifier, function (data) {
                window.location = "/admins"
            }, function (data) {
                displayError($("#delete-admin-message"), data.responseJSON.message)
            })
        })

        $("#reset-password-btn").click(function (e) {
            e.preventDefault();
            resetAdminPassword(identifier, function (data) {
                displaySuccess($("#reset-password-message"), `Password reset successfully, new password is <pre>${escapeHTML(data.password)}</pre>`)
            }, function (data) {
                displayError($("#reset-password-message"), data.responseJSON.message)
            })
        })
    })
</script>
</body>
</html>