<!doctype html>
<html lang="en">
{% include 'admin-header.html' %}
<body>
{% include 'admin-navbar.html' %}
<div class="container">
    <div class="row" style="margin-top: 5rem;">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3>Account Settings</h3>
                    <hr>
                    <form>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" id="identifier" placeholder="Identifier" disabled>
                            <label for="identifier" class="form-label">Identifier</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 3rem;">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3>Change Password</h3>
                    <hr>
                    <div id="message"></div>
                    <form>
                        <div class="mb-3 form-floating">
                            <input type="password" class="form-control" id="new-password" placeholder="New Password">
                            <label for="new-password" class="form-label">New Password</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="password" class="form-control" id="confirm-password"
                                   placeholder="Confirm Password">
                            <label for="confirm-password" class="form-label">Confirm Password</label>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" id="change-password-btn">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'admin-footer.html' %}
<script type="text/javascript">
    $(document).ready(function () {
        getCurrentAdmin(function (data) {
            $("#identifier").val(data.identifier);
        })

        $("#change-password-btn").click(function (e) {
            e.preventDefault();

            let newPassword = $("#new-password").val().trim();
            let confirmNewPassword = $("#confirm-password").val().trim();

            if (newPassword === "") {
                displayError($("#message"), "New password cannot be empty")
                return
            }

            if (newPassword !== confirmNewPassword) {
                displayError($("#message"), "Passwords do not match")
                return
            }

            changeCurrentAdminPassword(newPassword, function (data) {
                displaySuccess($("#message"), "Password changed successfully")
            }, function (data) {
                displayError($("#message"), data.responseJSON.message)
            })
        })
    })
</script>
</body>
</html>